#login {
	display: flex;
	flex-direction: row;	
}

#addProductForm {
	display : flex;
	flex-direction : column;
}

.addFormField{
	width : 300px;
	
}

.loginField {
  	border: 1px solid;
	padding: 7px;
	margin-left: 8px;
	font-size: 11px;
}

#lockIcon {
	margin-left: 8px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 30px;
	border: 1px solid;
	transform: scale(1.3);
}

#errorLogin {
	color: red;
	margin-left: 8px;
	margin-top: auto;
	margin-bottom: auto;
}